* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    flex-shrink: 0;
}

ul {
    margin-left: 0;
    list-style: none;
}

button {
    cursor: pointer;
    border: 0;
    background: transparent;
}

:root {
    /* colors */
    --back-sec: #F5F5F5;
    --grey: #808080;
    --black: #1E1E1E;
    --green: #09B285;

    /* font-family */
    --font-family: 'Inter';

    font-size: 16px;
}

.rows {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    width: calc(100% / 12 * 6);
}

/* design-start */
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.sec-card {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 100vh;
}

.sec-list {
    background: var(--back-sec);
    box-shadow: -4px 0px 20px 4px rgba(0, 0, 0, 0.10);
    padding: 6rem 5rem;
    height: 100%;
}

.div-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: stretch;
    height: 100vh;
}

input[type=text] {
    color: var(--grey);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: normal;
    outline: none;
    border-radius: 0.5rem;
    background: white;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    border: 0;
    padding: 0.75rem 1.125rem;
    padding-right: 10rem;
    width: 100%;
}

input[type=text]:focus {
    border: 1px solid var(--green);
}

.flex-btns {
    display: flex;
    align-items: stretch;
    gap: 1.5rem;
    margin-right: 5.2rem;
}

.btn-all,
.btn-to-do,
.btn-done {
    background: white;
    padding: 0.9rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
}

.num {
    color: var(--green);
    font-weight: 600;
}

.btn-all.check {
    background-color: var(--green);
    color: white;
}

.btn-to-do.check {
    background-color: var(--green);
    color: white;
}

.btn-done.check {
    background-color: var(--green);
    color: white;
}

.num.check {
    color: var(--green);
    font-weight: 600;
}

#taskList {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 0.5rem;
}

li {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

li::before {
    content: url('../img/input.svg');
}

li.checked::before {
    content: url('../img/checked.png');
}

li span {
    color:var(--black);
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    pointer-events: none;
}

li.checked span {
    color: var(--grey);
    text-decoration: line-through;
}

.squer-js {
    display: none;
}

.squer-js.checked {
    display: block;
}

.delete-btn {
    opacity: 0;
    margin-left: auto;
}

li:hover .delete-btn {
    opacity: 0.6;
    margin-left: auto;
}


/* mobile */
@media screen and (max-width:900px) {
    .body {
        flex-direction: column;
        row-gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .sec-card .container {
        width: 70%;
    }

    .container img {
        width: 100%;
    }

    .col-12 {
        width: calc(100% / 12 * 12);
    }

    .sec-list .container {
        width: 50%;
    }

}



